.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card{
    width:200px;
    height:440px;
    margin:20px;
    background-color: #111;
    border-radius: 2px;
    overflow: hidden;
    transition:all 0.3s ease-in-out;
}
.card:hover{
    scale: 1.1;
}
.image-container{
    height: 290px;
    overflow: hidden;
    cursor: pointer;
    
}
.card__img{
    /* height:100%; */
    
    width: 100%;
}
.text-content{
    margin:6px;
   
}
.review-container{
    display:flex;
    margin-top:10px;
    justify-content: space-between;
    margin-right:50px;
}

.review svg{
    color:yellow;
}
.review span{
    color:rgb(167, 167, 167);
    margin-left:4px;
}

.card__title{
    margin:15px 0px;
}
.favorite svg{
    transition:all 0.3s ease-in;
    cursor:pointer;
}
.favorite svg:hover{
    color: #5799ef;
}

.watch-now-btn{
    padding: 10px 20px;
    margin:auto;
    color: #5799ef;
    border: none;
    border-radius: 5px;
    font-weight:600;
    width:80%;
    background:transparent;
    background-color:rgba(100, 99, 99, 0.212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
    transition:all 0.7s ease-in;
    cursor:pointer;
    text-decoration: none;
    
}
.watch-now-btn span{
    font-size:18px;
}
.watch-now-btn:hover{
    background-color: rgba(100, 99, 99, 0.331);
}