.headerLeft{
    margin:12px;
    display: flex;
    align-items: center;
  
}

.headerLeft a{
    margin-left:20px;
    text-decoration:none; 
    color:white;
    font-size:15px;
    transition: all 0.5s ease;
}
.headerLeft a:hover{
    color:rgb(209, 3, 3);
}

.header_icon{
    width:60px;
}

