.posterImage{
    height: 500px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 2rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

.heading{
    margin-left:50px;
    margin-top:150px;
   
}
.sub-heading{
    display: flex;
    align-items: center;
}
.sub-heading span{
    font-size:23px;
    font-weight:700;
    position: relative;
}
.sub-heading span::before{
    content: " ";
    position:absolute;
    margin-left:-15px;
    border-radius: 5px;
    height:100%;
    width:5px;
    background:#f5c518;
}
.sub-heading svg{
    font-size:31px;
    font-weight:bold;
    margin-left:15px;
    cursor:pointer;
   
}

.heading p{
    color: rgb(105, 104, 104);
    font-size:17px;
    margin-top:12px;
    font-style:italic;
}

@media screen and (max-width: 700px)  {
    .poster{
        display:none;
    }

}